* {
  margin: 0;
  padding: 0;
}
body {
  display: block;
  width: 100vw;
}
#app {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  text-align: left;
}
li {
  list-style: none;
}
